alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
attrs==20.2.0
Babel==2.8.0
bleach==3.2.1
bump2version==0.5.11
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.4
coverage==4.5.4
distlib==0.3.1
docutils==0.16
entrypoints==0.3
ffmpy==0.2.3
filelock==3.0.12
flake8==3.7.8
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
packaging==20.4
pathtools==0.1.2
pkginfo==1.6.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.7.2
pyparsing==2.4.7
pytest==4.6.5
pytest-runner==5.1
pytz==2020.4
PyYAML==5.3.1
readme-renderer==28.0
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
spotipy==2.16.1
toml==0.10.2
tox==3.14.0
tqdm==4.51.0
twine==1.14.0
urllib3==1.25.11
virtualenv==20.1.0
watchdog==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
youtube-dl==2020.11.1.1
zipp==3.4.0
